<%- include('includes/head.ejs') %>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1><%= (admin) ?'Admin Products List' : 'Products List' %></h1>

            <% if (products.length) { %>
              <div class="row">
                <% for(let product of products) { %>
                  <div class="col-md-3">
                    <div class="product">
                      <div class="text-center">
                        <img src="<%= product.image%>" class="img-fluid"/>
                      </div>
                      <h3><%= product.title %></h3>
                      <div>Category: <%= product.category.title %></div>
                      <div>Price: <strong>$<%= product.price %></strong></div>
                      <p><%= product.description %></p>
                      <% if (admin) { %>
                        <div class="my-2 text-center d-flex justify-content-center">
                          <a href="/products/edit/<%= product.id %>" class="btn btn-primary mx-2">Edit</a>
                          <form action="/products/delete" method="post">
                            <input type="hidden" name="productId" value="<%= product.id %>">
                            <button class="btn btn-danger">Delete</button>
                          </form>
                          
                          
                        </div>
                      <% } else {%>
                      <div class="my-2 text-center d-flex justify-content-center">
                        <a href="/product/details/<%= product.id %>" class="btn btn-primary mx-2">View Details</a>
                        <%- include('includes/CartButton.ejs', {product: product}) %>
                      </div>
                      <% } %>
                    </div>
                  </div>
                  
                <% } %>
              </div>
            <% } else { %>
            <div>No Products Available</div>
            <% } %>
          </div>
        </div>
      </div>
      
    </main>
    <%- include('includes/footer.ejs') %>
